.recado{ 
    color:#181c20;
    text-align:center;
    vertical-align:text-top;
font-size:22px;
font-family:Roboto;
align-self:flex-start;
left:4px;
top:18px;
position:absolute;
line-height:28px;
border-style:hidden;
outline:none;
width:350px;
display:flex;
}

.recado{
    color: #181c20;
    text-align: center;
    
}